@{
    ViewBag.Title = "About App";
}
<h2>@ViewBag.Title</h2>
<br />
<h3>Description:</h3>
<br />
<div>

</div>
<h3>Used components:</h3>
<div class="list-group">
    <ul class="list-components">
        <li class="list-components-item">Bootstrap 5 theme - <em>JOURNAL</em> - from: <a href="https://bootswatch.com/journal/" target="_blank">Bootswatch</a></li>
        <li class="list-components-item">Special icons from: <a href="https://fontawesome.com/" target="_blank">FontAwesome</a></li>
        <li class="list-components-item">Message editor field from: <a href="https://ckeditor.com/" target="_blank">CKEditor</a></li>
        <li class="list-components-item">Table for displayed messages from: <a href="https://datatables.net/" target="_blank">DataTables</a></li>
    </ul>
</div>

