@{
    ViewBag.Title = "Contact";
}


<div class=" text-center mt-5 mb-5">
    <div class="contact-me mb-5">
        <a id="contact-section-link">
            <h2>Feel free to contact ME via:</h2>
        </a>
    </div>
    <div class="contact-links">
        <a href="mailto:slawek_jankowski@outlook.com" aria-label="e-mail" target="_blank"><i class="mx-1 link-icon fa-solid fa-envelope fa-3x"></i></a>
        <a href="https://github.com/SlawomirJankowski" aria-label="GitHub" target="_blank"><i class="mx-1 link-icon fa-brands fa-github fa-3x"></i></a>
        <a href="https://www.linkedin.com/in/slajan-slawomir-jankowski/" target="_blank" aria-label="linkedin"><i class="mx-1 link-icon fa-brands fa-linkedin fa-3x"></i></a>
    </div>
</div>
